.addNewButton {
  flex-shrink: 0;
  display: block;
  cursor: pointer;
  position: relative;
  height: 50px;
  width: 50px;
  margin: 20px auto;
  border: 2px solid #3e3d78;
  background-color: white;
  border-radius: 10px;
  transition: all 0.2s linear;
}
.addNewButton::before,
.addNewButton::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: var(--color-violetDark);
  transition: all 0.2s linear;
}
.addNewButton::after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.addNewButton:hover {
  background-color: #3e3d78;
}
.addNewButton:hover::before,
.addNewButton:hover::after {
  background-color: white;
}

@media (max-width: 990px) {
  .addNewButton {
    width: 40px;
    height: 40px;
    margin: 10px auto;
  }
  .QSButton {
    margin: 0 20px;
  }
}
